<li>
    {{name}}

    <button class="devour" data-id="{{id}}" data-justdevoured="{{devoured}}">
        {{#if devoured}}Devour it!{{else}}Ready to Re-Order?{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}"> No Longer Available</button>
</li>

</li>